In [1]:
import pandas as pd
import numpy as np

In [2]:
from datetime import datetime

In [3]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

In [5]:
ts = pd.Series(np.random.randn(6), index = dates)
ts

2011-01-02    0.507064
2011-01-05   -0.236377
2011-01-07   -0.939907
2011-01-08   -1.139079
2011-01-10    0.078962
2011-01-12   -2.114857
dtype: float64

In [6]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [7]:
ts+ts[::2]

2011-01-02    1.014127
2011-01-05         NaN
2011-01-07   -1.879813
2011-01-08         NaN
2011-01-10    0.157924
2011-01-12         NaN
dtype: float64

In [10]:
stamp = ts.index[2]

In [11]:
ts[stamp]

-0.9399066471299353

In [16]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))

In [17]:
longer_ts

2000-01-01    0.247482
2000-01-02    0.231853
2000-01-03   -1.551661
2000-01-04    0.162881
2000-01-05   -0.208803
                ...
2002-09-22    1.428858
2002-09-23    1.785737
2002-09-24    0.934556
2002-09-25    1.577967
2002-09-26    0.912410
Freq: D, Length: 1000, dtype: float64

In [18]:
longer_ts['2001']

2001-01-01   -0.030166
2001-01-02    0.387491
2001-01-03   -0.560680
2001-01-04   -1.587120
2001-01-05   -1.066279
                ...
2001-12-27    1.244165
2001-12-28   -1.365757
2001-12-29    0.126117
2001-12-30   -0.434075
2001-12-31    0.764904
Freq: D, Length: 365, dtype: float64

In [19]:
longer_ts['2001-06']

2001-06-01    1.681240
2001-06-02    0.611385
2001-06-03   -0.530945
2001-06-04   -0.790645
2001-06-05    0.039880
2001-06-06   -0.099390
2001-06-07   -0.343044
2001-06-08   -1.456553
2001-06-09   -1.391549
2001-06-10    0.350710
2001-06-11   -2.245841
2001-06-12    0.065447
2001-06-13   -0.297445
2001-06-14   -1.883342
2001-06-15   -1.197181
2001-06-16    1.329052
2001-06-17   -1.260412
2001-06-18    0.341022
2001-06-19   -0.754203
2001-06-20   -0.325947
2001-06-21   -1.357226
2001-06-22    0.951605
2001-06-23   -0.239676
2001-06-24    0.472355
2001-06-25   -0.908802
2001-06-26   -1.678543
2001-06-27   -0.026078
2001-06-28    1.433966
2001-06-29   -1.751794
2001-06-30   -2.890656
Freq: D, dtype: float64

In [21]:
longer_ts[datetime(2001,1,7):]

2001-01-07   -1.931347
2001-01-08    0.501737
2001-01-09    1.985444
2001-01-10    0.789446
2001-01-11   -0.498157
                ...
2002-09-22    1.428858
2002-09-23    1.785737
2002-09-24    0.934556
2002-09-25    1.577967
2002-09-26    0.912410
Freq: D, Length: 628, dtype: float64