In [1]:
import pandas as pd
import numpy as np
from pandas.tseries.offsets import Day, MonthEnd

In [2]:
import pytz

In [3]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [4]:
tz = pytz.timezone('America/New_york')

In [5]:
tz

In [6]:
rng = pd.date_range('3/9/2012', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09    0.175629
2012-03-10   -0.278992
2012-03-11    0.490135
2012-03-12   -0.660426
2012-03-13    0.563435
2012-03-14    0.072474
Freq: D, dtype: float64

In [7]:
ts_utc = pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')
ts_utc

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [8]:
ts_utc.tz_convert('America/New_York')

DatetimeIndex(['2012-03-09 04:30:00-05:00', '2012-03-10 04:30:00-05:00',
               '2012-03-11 05:30:00-04:00', '2012-03-12 05:30:00-04:00',
               '2012-03-13 05:30:00-04:00', '2012-03-14 05:30:00-04:00',
               '2012-03-15 05:30:00-04:00', '2012-03-16 05:30:00-04:00',
               '2012-03-17 05:30:00-04:00', '2012-03-18 05:30:00-04:00'],
              dtype='datetime64[ns, America/New_York]', freq='D')

In [9]:
ts_east = ts.tz_localize('America/New_York')
ts_east.tz_convert('UTC')

2012-03-09 05:00:00+00:00    0.175629
2012-03-10 05:00:00+00:00   -0.278992
2012-03-11 05:00:00+00:00    0.490135
2012-03-12 04:00:00+00:00   -0.660426
2012-03-13 04:00:00+00:00    0.563435
2012-03-14 04:00:00+00:00    0.072474
dtype: float64

In [12]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [13]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [14]:
stamp_utc.value

1299902400000000000

In [15]:
p = pd.Period(2007, freq='A-Dec')
p

Period('2007', 'A-DEC')

In [16]:
p+5

Period('2012', 'A-DEC')

In [17]:
p-2

Period('2005', 'A-DEC')