In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
index = pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [4]:
ind1 = pd.date_range(start='2012-04-01',periods=20)
ind1

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [6]:
ind2 = pd.date_range(end='2012-04-01',periods=20)
ind2

DatetimeIndex(['2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-17', '2012-03-18', '2012-03-19', '2012-03-20',
               '2012-03-21', '2012-03-22', '2012-03-23', '2012-03-24',
               '2012-03-25', '2012-03-26', '2012-03-27', '2012-03-28',
               '2012-03-29', '2012-03-30', '2012-03-31', '2012-04-01'],
              dtype='datetime64[ns]', freq='D')

In [7]:
from pandas.tseries.offsets import Hour, Minute

In [8]:
hour = Hour()
hour

In [9]:
ind2 = pd.date_range('2000-01-01','2000-02-03', freq='4h')
ind2

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               ...
               '2000-02-01 12:00:00', '2000-02-01 16:00:00',
               '2000-02-01 20:00:00', '2000-02-02 00:00:00',
               '2000-02-02 04:00:00', '2000-02-02 08:00:00',
               '2000-02-02 12:00:00', '2000-02-02 16:00:00',
               '2000-02-02 20:00:00', '2000-02-03 00:00:00'],
              dtype='datetime64[ns]', length=199, freq='4H')

In [13]:
ts = pd.Series(np.random.randn(10), index=pd.date_range('1/1/2000', periods=10, freq='M'))
ts

2000-01-31    0.425909
2000-02-29   -0.541009
2000-03-31   -0.747734
2000-04-30   -0.454299
2000-05-31    0.159250
2000-06-30    0.223124
2000-07-31   -0.117997
2000-08-31    0.868434
2000-09-30    2.069394
2000-10-31   -0.407167
Freq: M, dtype: float64

In [14]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.425909
2000-04-30   -0.541009
2000-05-31   -0.747734
2000-06-30   -0.454299
2000-07-31    0.159250
2000-08-31    0.223124
2000-09-30   -0.117997
2000-10-31    0.868434
Freq: M, dtype: float64

In [15]:
ts.shift(-4)

2000-01-31    0.159250
2000-02-29    0.223124
2000-03-31   -0.117997
2000-04-30    0.868434
2000-05-31    2.069394
2000-06-30   -0.407167
2000-07-31         NaN
2000-08-31         NaN
2000-09-30         NaN
2000-10-31         NaN
Freq: M, dtype: float64